extends ./layouts/main-template

block content
	// Content Header (Page header)
	section.content-header
		h1
			| Dashboard
			small Control panel
		ol.breadcrumb
			li
				a(href='#')
					i.fa.fa-dashboard
					|  Home
			li.active Dashboard
	// Main content
	section.content
		.row
			.col-md-3#category
			.col-md-9
				.box.box-primary
block endjs
	script.
		$.ajax({
			url: '#{adminPathEx}/api/Navs/tree',
			success: function (data) {
				sidebar.setState({
					navs:data
				});
				console.log(data);
			},
			error: function () {
				console.log('error');
			}

		});
