extends ../layouts/sitecore_template

block content
    .container-fluid
      .row
        .col-sm-3
          #treeview1 
        .col-sm-9
          .panel.panel-default
            .panel-body
              .page-header
                h1 #{categoryName}        
              ol.breadcrumb
                li
                  a(href='#') Home            
                li
                  a(href='#') Library          
                li.active Data
            // <div class="panel-footer">KStudio.</div>
    .footer
      .container
        p.text-muted Copyright @ KStudio.  
    #context-menu
      ul.dropdown-menu(role='menu')
        li
          a(tabindex='-1') Action
      
        li
          a(tabindex='-1') Another action
     
        li
          a(tabindex='-1') Something else here
     
        li.divider
    
        li
          a(tabindex='-1') Separated link
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
append js
    script(src='/js/bootstrap-treeview.js')
    script(src='/js/bootstrap-contextmenu.js')

    script(type='text/javascript').

      var menuData = !{list};
      $('#treeview1').treeview({
      data: menuData,
      levels:0,
      selectedColor: "white",
      selectedBackColor: "#333333"
      });
      $('#treeview1').contextmenu({
      target: '#context-menu',
      onItem: function (context, e) {
      var obj = e.target;
      var str = '';
      for (var i in obj)
      {
      str += i + ':' + obj[i] + '\\n';
      }
      console.log(str);
      }
      });