extends ../layout/sitecore_template

block content
    .container-fluid
      .row
        .col-sm-3
          #treeview1 
        .col-sm-9
          iframe(id="content-frame" frameborder="0" src="/ksitecore/welcome")
    .footer
      .container-fluid
        p.text-muted Copyright @ KStudio.
    #item-view-modal
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
append js
    script(src='/keystone/js/packages.js')
    script(type='text/javascript').
      var treeview_tag = $(window).width() < 768 ? "#tree-view0" : "#treeview1";
      
      var menuData = eval(!{items});
      $(treeview_tag).treeview({
        data: menuData,
        levels:0,
        selectedColor: "white",
        selectedBackColor: "#333333",
        onNodeSelected: function(event, node) {
            if (!leftMenuFold)
            {
              toggleLeftMenu();
            }
            $("#content-frame").attr("src", "/ksitecore/#{list.path}/list/" + node._id + "?type=" + node.template);
          }
      });
