extends ../layout/sitecore_template

block content
    .container-fluid
      .row
        .col-sm-3
          #treeview1 
          button#loading_btn.btn.btn-primary.btn-lg.ladda-button(type="button", data-style="expand-right") Test Loading
        .col-sm-9
          iframe(id="content-frame" frameborder="0" src="/ksitecore/welcome")
    .footer
      .container
        p.text-muted Copyright @ KStudio.
    #item-view-modal
    include ../layout/modal
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
append js
    script(src='/keystone/js/packages.js')
    script(src='/js/bootstrap-treeview.js')
    script(src='/js/bootstrap-contextmenu.js')
    script(type='text/javascript').

      var menuData = !{items};
      $('#treeview1').treeview({
        data: menuData,
        levels:0,
        selectedColor: "white",
        selectedBackColor: "#333333",
        onNodeSelected: function(event, node) {
            $("#content-frame").attr("src", "/ksitecore/#{list.path}/list/" + node._id + "?type=" + node.template);
          }
      });
      $(function() {
        $('#loading_btn').click(function(e){
          e.preventDefault();
          var l = Ladda.create(this);
          l.start();
          $.post("your-url", 
              { data : data },
            function(response){
              console.log(response);
            }, "json")
          .always(function() { l.stop(); });
          return false;
        });
      });
