extends ../layout/sitecore_template

block content
    .container-fluid
      .row
        .col-sm-3
          #treeview1 
        .col-sm-9
          iframe(id="content-frame" frameborder="0" src="/ksitecore/welcome")
    .footer
      .container
        p.text-muted Copyright @ KStudio.
    #item-view-modal
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
append js
    script(src='/keystone/js/packages.js')
    script(type='text/javascript').

      var menuData = eval(!{items});
      $('#treeview1').treeview({
        data: menuData,
        levels:0,
        selectedColor: "white",
        selectedBackColor: "#333333",
        onNodeSelected: function(event, node) {
          console.log(event);
            $("#content-frame").attr("src", "/ksitecore/#{list.path}/list/" + node._id + "?type=" + node.template);
          }
      });
      var node = _.find(menuData, function(obj){
        return obj._id === '559ce3882b48e8870d12058a';
      });
