include ../includes/kadm
section.content-header
	h1
		| Dashboard
		small Control panel
	ol.breadcrumb
		li
			a(href='#')
				i.fa.fa-dashboard
				|  Home
		li.active Dashboard
// Main content
section.content
	.row
		.col-xs-3#category
			.box.box-solid
				|hoho
		.col-xs-9
			|hoho
script(src="#{adminPathEx}/script/content.js")
script(src="#{adminPathEx}/dist/js/bootstrap-treeview.min.js")
//script(src="#{adminPathEx}/script/Category.js")

