.modal.fade#item-modal(tabindex="-1", role="dialog" aria-labelledby="item-modal")
  .modal-dialog.modal-lg(role="document")
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
        h4.modal-title#item-modal-label Modal Title
      .modal-body
        iframe#item-frame(src="", width="100%", frameborder="0")
      .modal-footer
        button.btn.btn-default(type="button", data-dissmiss="modal") Close
        button.btn.btn-primary(type="button") Save Changes