.tableBar
  span.navbar-text 共有 3 条文章
  .btn-group.tableAction
    button.btn.btn-default(type="button")
      span.glyphicon.glyphicon-cog
      管理栏目 
    button.btn.btn-default(type="button")
      span.glyphicon.glyphicon-cog
      管理子栏目

  .clear
      
.archive-list   
  table.table.table-striped.table-hover.category-table
    tr
      td.col-xs-1 #
      td.col-xs-8.category-title 标题
      td.col-xs-2 发布日期
      td.col-xs-1 操作
    tr
      td.col-xs-1 1
      td.col-xs-8.category-title
        a(href="#") 文章
      td.col-xs-2 2014-10-10
      td.col-xs-1 
        a(href="#").glyphicon.glyphicon-cog
        &nbsp; 
        a(href="#").glyphicon.glyphicon-remove

.no-list
 h3 
  span.label.label-primary 此栏目还没有内容
   